@tailwind base;
@tailwind utilities;
@tailwind components;



    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  
    svg path {
        fill: rgb(30, 23, 159);
    }